.central{
	align-self: center;
	align-items: center;
	align-items: center;
	justify-content: center;
}

.foto{
	width: 100%;
	justify-content: center;
	align-items: center;
	align-self: center;
}


.doc{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: roboto;
    font-size: 20px;
    margin-left: 50px;
  }

  .box{
    display: flex;
    justify-content: center;
    max-width: auto;
    /* width: 800px;
    height: 328px; */
  }

  .contenedor{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 230px;
    top:70px;
  }

  .color{
    display: flex;

    justify-content: center;
  }