.navbar {
	position: fixed;
	left: 230px;
	top: 0px;
	width: -webkit-fill-available;
	display: flex;
	align-items: center;
	height: 60px;
	justify-content: center;
	padding: 10px 0;
	background-color: rgb(255, 255, 1);
}

.navbar_left {
	display: flex;
	align-items: center;
	margin-left: 20px;
	
}

.navbar_left > .MuiSvgIcon-root {
	margin-left: auto;
	margin-right: 20px;
}

img{
	justify-content: space-between;
	margin-left: 10px;
	width: 28px;
}

.navbar_search {
	flex:0.4;
	background-color: white;
	text-align: center;
	display: flex;
	/* padding: 0 50px; */
	color: black;
	border:1px gray solid;
	border-radius: 6px;
	height: 30px;
    align-items: center;
}

.navbar_search > input {
	background-color: transparent;
	border:none;
	text-align: center;
	min-width: 35vw;
	padding: 7px;
	}
#esto :focus {
 outline: auto;
 border: none;
}


.navbar_right {
	flex: 0.3;
	display: flex;
	align-items: flex-end;
	margin-left: 100px;
	margin-right: 0px;
	justify-content: space-between;
}

.navbar_right > .MuiSvgIcon-root {
	margin-left: auto;
	margin-right: 20px;
	}
